<% include partials/header %>
<div class="container">
<h1 class="paddedtitle">Achievements</h1>
<br>

$\sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}$
<br><br>
<hr>
<sub id="[1]"><sup>1</sup> 67% of parts transformed with no mutations</sub>
<br><sub id="[2]"><sup>2</sup> The toolkit has 16 working interchangeable parts. This toolkit allows toggle switches with varying qualities to be produced,drastically cutting down time required by researchers to synthesise the parts required </sub>
<br><sub id="[3]"><sup>3</sup> $\sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6}$ </sub>
<br><sub id="[4]"><sup>4</sup> Agarose pads,that provide better resolution than the usual techniques for live cell microscopy, were usedin a novel wayin preparation for single cell visualisationof the oscillator through cell tracking. </sub>
</div>
<% include partials/footer %>
