<% include partials/header %>
<div class="container-fluid">
<h1>Description&nbsp;</h1>
<br>
<p>Our project is rooted in synthetic biology; the subject has now reached a stage where devices are now designed to contribute
much more to the understanding of how certain diseases work instead of figuring out the dynamics of
simple processes. The primary aim of our project is to design and build a library of stable, robust and tuneable toggle switches and oscillators. The group has split in half, with 4 students working on the oscillator and 4 students working on the toggle switch. We first conducted a literature review to find the optimal design to construct these systems. Next, we set about implementing the chosen models in the dry lab. Once most of the computer modelling was complete, we began constructing and testing the models in the wet lab.</p>
<p>Within each sub group for both the toggle switch and repressilator, work has been spread out evenly between the wet lab and dry lab work. The dry labs consist of, initially, constructing models that mirror the equations that were found describing the function of each circuit, and then running simulations that consider the different parameters which the wet lab teams will be using. Therefore, the models and simulations will provide a reference point for the wet lab work which will help derive the optimal parameters needed for part selection.   </p>
<p>This wiki details the research, dry lab and wet lab aspects of our project. It also explores the potential applications of the genetic circuits, and the ethical impact of synthetic biology.&nbsp;</p>
<br>

<div class="row">
  <div class="column">
    <img src="notebookfiles/What is a toggle switch/Circuit.PNG">
  </div>
  <div class="column">
    <img src="notebookfiles/Types of biological oscillators and potential applications/Circuit1.PNG">
  </div>
</div


</div>


<% include partials/footer %>
