<% include partials/header %>
<div class="container-fluid">
<h1>Description&nbsp;</h1>
<br>
<p>Our project is rooted in synthetic biology. The goal is to design and build a library of stable, robust, tuneable toggle switches and oscillators. The group has split in half, with 4 students working on the oscillator and 4 students working on the toggle switch. We first conducted a literature review to find the optimal design to construct these systems. Next, we set about implementing the chosen models in the dry lab. Once most of the computer modelling was complete, we began constructing and testing the models in the wet lab.</p>
<p>This wiki details the research, dry lab and wet lab aspects of our project. It also explores the potential applications of the genetic circuits, and the ethical impact of synthetic biology.&nbsp;</p>
<br>
</div>


<% include partials/footer %>
