<% include partials/header %>
<div class ="container">
<h1 class="paddedtitle">Human Practices</h1>
<br>

  <div style="padding-left: 10px;">
    <p>To best cover the human practices portion of our project, we decided to conduct a survey of academic staff and lab technicians. The survey aimed to start a conversation about the ethics of synthetic biology. We chose staff from the synthetic biology sphere, as well as course leaders and lab technicians in order to obtain a variety of opinions on the same topic. The questions asked were as follows:</p>
    <ul>
    <li><strong>What is your opinion on the applications of Synthetic Biology? How do you believe it's useful?</li>
    <li>What is your opinion on the safety of Synthetic Biology studies and procedures, and who do you think should be legally responsible for this safety?</li>
    <li>How do you think the Precautionary Principle affects the field of Synthetic Biology and what steps should be taken to uphold it? </li>
    <li>In your opinion, what are the ethical implications of CRISPR/gene editing technology?</li>
    <li>Where do you think the field of genetic engineering/ synthetic biology is going to be in 5 - 10 years’ time?</strong></li>
    </ul>

    <br><br>
    <p>We also had additional questions, taken from the BIOSAFE conference, on the safety of synthetic biology:</p>
    <ul>
    <li><strong>Does synthetic biology raise new biosafety questions, and if yes, which ones?</li>
    <li>Do we need a new kind of risk assessment? How should it look?</li>
    <li>Should we consider environmental release of “synthetic” organisms under the current biosafety framework?</li>
    <li>Can we include safety concerns already in the design process of novel SB applications?</li>
    <li>How feasible are new biosafety systems based on alternative biochemical systems?</li>
    <li>How realistic is the biohacker scenario? What should be done to prevent biosafety risks caused by unaccountable garage biologists?</strong></li>
    </ul>
    </div>
    </div>

  <!-- <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> a. Risks to the safety and health of team members or others in the lab?</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>No, </strong>we are not using any materials that pose risk to anyone&rsquo;s safety or health. We are only working with level 1 safety organisms and are not working with any toxic or otherwise dangerous materials. The organisms we are working with are <em>Escherichia coli</em> (<em>E. coli</em>) (strains not yet known)<strong><em>. </em></strong>The products that will be produced by our bacteria are also not dangerous to humans.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> b. Risks to the safety and health of the general public if released by design or accident?</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>No, </strong>our final product is an engineered <em>E. coli</em> that expresses an oscillatory or switch-like behaviour pattern of GFP expression.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> c. Risks to environmental quality if released by design or accident?</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>No, </strong>the release of GFP producing <em>E. coli</em> would not pose any large-scale threat to biodiversity, nor would it pose an environmental hazard.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> d. Risks to security through malicious misuse by individuals, groups or states?</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>No. </strong>The parts we are engineering are not in themselves dangerous. However, it would be conceivable that, if combined with other parts and components, it would be possible to construct a dangerous organism. However, this can be said of most synthetic biology parts.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> Does your country have national biosafety regulations or guidelines? If so, provide a link to them online if possible.</strong>
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          There are national biosafety regulations in Britain. The full list can be found <a href="http://www.hse.gov.uk/biosafety/biologagents.pdf">here</a>.
        </div>
      </div>
    </div>
</div> -->


<% include partials/footer %>
