<% include partials/header %>
<div class ="container">
<h1 class="paddedtitle">Human Practices</h1>
<br>

  <div style="padding-left: 10px;">



    <p>To best cover the human practices portion of our project, we decided to conduct a survey of academic staff and lab technicians. The survey aimed to start a conversation about the ethics of synthetic biology. We chose staff from the synthetic biology sphere, as well as course leaders and lab technicians in order to obtain a variety of opinions on the same topic. Here a sample of answers provided:</p>
      


    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 1)	What is your opinion on the applications of synthetic biology? In what area do you believe they can be most useful (to solve what problems)?</strong>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Production of existing or new biochemical molecules at lower cost and environmental burden than current methods – for the materials, chemical and fuel industry. This will reduce the use of oil-based methods for making these and thus be part of the greener economy. Production of new therapies and diagnostics, such as cells that compute inputs from their environment and then act upon those to improve our health. This will solve problems in human and animal health.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 2)	Do you consider the synthesis/creation of a living organism or parts of it to be ethically problematic? Why?</strong>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <strong>No </strong>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 3)	In your opinion, what are the ethical implications of CRISPR/gene editing technology? </strong>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Aside from their use in germline engineering and gene drives, I don’t think they raise new ethical implications.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 4)	What is your opinion on the safety of synthetic biology studies and procedures, and who do you think should be legally responsible for this safety?</strong>
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            All studies in the UK must meet standard GM experiment rules and these are suitable and provide the appropriate safety. The institutes doing the research should be responsible.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 5)	How do you think the Precautionary Principle affects the field of synthetic biology and what steps should be taken to uphold it?  </strong>
            </a>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            We should not use the precautionary principle in synthetic biology. It should only be upheld for gene drive and germline editing projects - only way to uphold is to try to build international consensus.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
              <span><img style="height: 20px; width:20px;" src="/si-glyph-circle-plus.svg" ></span><strong> 6)	Where do you think the field of genetic engineering/ synthetic biology is going to be in 5 - 10 years? </strong>
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Cell based therapies, new types of materials, increasing use as a research tool for all of science.
          </div>
        </div>
      </div>

    </div>
</div>


<% include partials/footer %>
