<% include partials/header %>

<div class="bg">
<center>
  <h1 class="font-weight-light">Welcome to the Biological Toggle Switch/Oscillator Wiki!</h1>
</center>
<br>
<br>
<div class="container">
<div class="row">
      <div class="col-sm-8">
        <div class="card bg-white">
          <img class="card-img" src="https://www.publicdomainpictures.net/pictures/50000/nahled/dna-1370603787LgY.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-title">Description</h3>
            <p class="card-text">The overall aim of the project is to develop working versions of a toggle switch and an oscillator based on biological parts (bioparts).</p>
          </div>
        </div>
      </div>
<div class="col-sm-4">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-primary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Project
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="/description" class="btn btn-secondary btn-lg btn-block">Description</a>
        <a href="/bnd" class="btn btn-secondary btn-lg btn-block">Background and Design</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Results</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a href="/modelling" class="btn btn-secondary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333">
          Modelling and Simulations
        </a>
      </h5>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Wet Lab
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <a href="/parts" class="btn btn-secondary btn-lg btn-block">Parts</a>
        <a href="/techniques" class="btn btn-secondary btn-lg btn-block">Techniques</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a href="/notebook" class="btn btn-secondary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333">
          Notebook
        </a>
      </h5>
    </div>
  </div>
  <div class="card">
  <div class="card-header" id="headingFive">
    <h5 class="mb-0">
      <a href="/safety" class="btn btn-primary btn-lg btn-block"  style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333">
        Safety
      </a>
    </h5>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <a href="/human_practices" class="btn btn-secondary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: 1px 2px 3px #333333">
        Human Practices
      </a>
    </h5>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
