<% include partials/header %>

<div class="bg">
<center>
  <h1 class="font-weight-light">Welcome to the Biological Toggle Switch/Oscillator Wiki!</h1>
</center>
<br>
<br>
<div class="container">
<div class="row">
      <div class="col-sm-8">
        <div class="card bg-white">
          <img class="card-img" src="https://cdn.helix.com/wp-content/uploads/2017/09/2017-09-29-15_10_57.gif" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-title">Description</h3>
            <p class="card-text">The overall aim of the project is to develop working versions of a toggle switch and a bistable oscillator based on biological parts (bioparts).</p>
          </div>
        </div>
      </div>
<div class="col-sm-4">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a href="/" class="btn btn-secondary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000">
          Home
        </a>
      </h5>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-primary btn-lg btn-block" style="background-color: #a4dacf" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Team
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="/team" class="btn btn-secondary btn-lg btn-block">Team members</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Collaborations</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary btn-lg btn-block" style="background-color: #b7e1d9" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Project
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <a href="#" class="btn btn-secondary btn-lg btn-block">Description</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Design</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Experiments</a>
        <a href="/notebook" class="btn btn-secondary btn-lg btn-block">Notebook</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">InterLab</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Model</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Results</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Demonstrate</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Improve</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Attributions</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-primary btn-lg btn-block"  style="background-color: #c9e9e2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Parts
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        empty for now
      </div>
    </div>
  </div>
  <div class="card">
  <div class="card-header" id="headingFive">
    <h5 class="mb-0">
      <button class="btn btn-primary btn-lg btn-block"  style="background-color: #dbf0ec" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        Safety
      </button>
    </h5>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingSix">
    <h5 class="mb-0">
      <button class="btn btn-primary btn-lg btn-block"  style="background-color: #edf8f5" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
        Human Practices
      </button>
    </h5>
  </div>

  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
    <div class="card-body">
      <a href="/human_practices" class="btn btn-secondary btn-lg btn-block">Human Practices</a>
      <a href="#" class="btn btn-secondary btn-lg btn-block">Education and engagement</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
