<% include partials/header %>
<div class="container">
  <h1 class="paddedtitle">Repressilator modelling</h1>
  <br>
<img src="Modelling from first principles1.svg" style="width:100%; height:100%;">
<br>
<img src="Modelling from first principles2.svg" style="width:100%; height:100%;">
<br>
<img src="Modelling from first principles3.svg" style="width:100%; height:100%;">




</div>
<% include partials/footer %>
