<% include partials/header %>
<div class="container">
  <br><br><br><br>
  <a class="btn btn-primary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);" href="/modelling_ts.ejs">Toggle Switch</a>
  <button class="btn btn-primary btn-lg btn-block" style="background-color: #A2D9CE ;border: none; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);"><br> <a href="/modelling_o.ejs"><h2>Oscillator</h2></a> <br></button>

</div>
<% include partials/footer %>
