<% include partials/header %>

<h1>Notebook</h1>
<div class="container">
  <div class="row">
<nav class="col-sm-1" id="sidebar">
  <ul class="nav nav-pills nav-stacked" data-spy="affix">
    <li><a href="#headingOne">Section 1</a></li>
    <li><a href="#headingThree">Section 2</a></li>
    <li><a href="#headingFour">Section 3</a></li>
  </ul>
</nav>

<div class="col-sm-11">
<div class="card text-center">
  <div class="card-header" id="headingOne">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
     <h5 class="card-title">Equations and explanations from 'Modeling synthetic gene oscillators'-Oscillator Team</h5>
     <h6 class="card-subtitle mb-2 text-muted">27th October 2018</h6>
   </button>
 </div>
 <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig1.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig2.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig3.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig4.png"> <br> Dual Feedback - probably too complicated/ineffective to bother with as it makes too many assumptions <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig5.png"> </p>
       <a href="https://www.sciencedirect.com/science/article/abs/pii/S002555641200003X#f0030" class="card-link">Source: Modeling synthetic gene oscillators, O'Brien et al.</a>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingThree">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
     <h5 class="card-title">Research on parts (CIDAR cloning), model parameters and applications (Entrainment) -Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">1st November 2018</h6>
   </button>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
  <div class="card-body">
  <p class="card-text">
    Flowchart depicting CIDAR cloning process [1] <br>
    <img src="notebookfiles/Research on parts (CIDAR cloning), model parameters and applications (Entrainment)/CIDAR.png"> <br> Promoters/repressors are inserted into the green rectangles between the fusion sites (labelled in the image) and bonded together using ligase. This forms a complete circuit, which can be transcribed using a virus or PCR (?) to get copies of it. <br> Table with all the parameters in our ODEs and some proposed values (from iGEM 2017 group) <br> <img src="notebookfiles/Research on parts (CIDAR cloning), model parameters and applications (Entrainment)/Table.PNG"> <br> Examples of Biological Oscillators (for the wiki)

    Circadian clock: [3] <br>

    Embryonic oscillators: When cells are randomised in vitro, the patterns reemerge and the dynamics within each emergent pre-somitic mesoderm depends on the composition of the ensemble of coupled oscillators. [4]<br>

    Glycolytic oscillators: role of the cAMP signal transduction pathway in modulating glycolytic oscillations  [5]<br>

    Sleep and circadian rhythms<br>

    Paper by Strogatz on cave study: https://link.springer.com/content/pdf/10.1007%2FBF00276440.pdf<br>

    Strogatz paper on coupled oscillators and biological synchronisation http://www.uvm.edu/pdodds/files/papers/others/1993/strogatz1993a.pdf<br>

    Strogatz Modelling in Biology book: https://ebookcentral.proquest.com/lib/imperial/reader.action?docID=5326844&query=<br>

    Claude Bernard - homeostasis<br>

    Entrainment and Synchronisation<br>

    What is entrainment?<br>

    Entrainment occurs when rhythmic physiological or behavioural events match their period to that of an environmental oscillation. It is ultimately the interaction between circadian rhythms and the environment. An example is the entrainment of circadian rhythms to the daily light–dark cycle, which ultimately is determined by the Earth's rotation.<br>

    ‘Depending on its continually changing phase, an oscillator responds differently to an entraining stimulus At some phases, the oscillator is advanced and at others it is delayed or it may not respond at all. These response characteristics, which can be drawn as a phase response curve, are determined by a number of properties: (i) the period, (ii) strength, and (iii) duration of the entraining stimulus as well as the (iv) period and (v) inherent responsiveness of the oscillator to the entraining stimulus.’ [6] an example of entrainment:<br>

    https://books.google.co.uk/books?hl=en&lr=&id=CVfmBwAAQBAJ&oi=fnd&pg=PA1&dq=rutger+wever&ots=hXr2kgRF0o&sig=G5dxKlJgVreEFKYatyBGFmbYBw4#v=onepage&q&f=false<br>

    https://link.springer.com/content/pdf/10.1007%2FBF00279718.pdf<br>

    Peripheral Circadian Oscillators: https://pdfs.semanticscholar.org/ecab/9572f42107457bbae325dbf5395d41f9e404.pdf<br>

    Circadian Rhythms and Hormonal Homeostasis: Pathophysiological Implications:<br>

    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5372003/<br>



    SynBis, SynBio Hub, iGEM registry </p>
  <a href="http://cidarlab.org/hummingbird/" class="card-link">[1]</a>
  <a href="https://academic.oup.com/hmg/article/15/suppl_2/R271/624758" class="card-link">[3]</a>
  <a href="https://www.cell.com/cell/pdf/S0092-8674%2816%2930042-3.pdf?code=cell-site" class="card-link">[4]</a>
  <a href="https://bmcsystbiol.biomedcentral.com/articles/10.1186/1752-0509-6-108" class="card-link">[5]</a>
  <a href="http://www.pnas.org/content/102/21/7742" class="card-link">[6]</a>
  </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingFour">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
     <h5 class="card-title">Parameter Sensitivity - Shanila & Fionn</h5>
     <h6 class="card-subtitle mb-2 text-muted">14th November 2018</h6>
   </button>
 </div>
 <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Parameter sensitivity/parameters1.PNG"> <br> <img src="notebookfiles/Parameter sensitivity/parameters2.PNG"> <br> <img src="notebookfiles/Parameter sensitivity/parameters3.PNG"> <br> </p>
       <a href="https://sysmic.ac.uk/static/html_module1/1.9-the-repressilator.html" class="card-link">Source 1</a>
       <a href="https://www.nature.com/articles/35002125" class="card-link">Source 2</a>
    </div>
  </div>
</div>
<div class="card text-center">
    <div class="card-header" id="headingTwo">
     <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <h5 class="card-title">Types of biological oscillators and potential applications ​-Oscillator Team</h5>
       <h6 class="card-subtitle mb-2 text-muted">15th November 2018</h6>
     </button>
    </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
  <p class="card-text">
    <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide2.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide3.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide4.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide5.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide6.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide7.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide8.jpg"> <br> </p>
  <p class="card-text">
    <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide9.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide10.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide11.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide12.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide13.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide14.jpg"> <br> </p>
  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2988261/" class="card-link">1. Purcell O. et al, A comparative analysis of synthetic genetic oscillators <br> </a>
  <a href="https://academic.oup.com/hmg/article/15/suppl_2/R271/624758" class="card-link">2. Ko C.H., Takahashi J.S., Molecular components of the mammalian circadian clock <br> </a>
  <a href="https://pdfs.semanticscholar.org/ecab/9572f42107457bbae325dbf5395d41f9e404.pdf​" class="card-link">3. Cuninkova L., Brown S.A, Peripheral Circadian Oscillators: Interesting Mechanisms and Powerful Tools <br> </a>
  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3020104/​" class="card-link">4. Dodson E.R., Zee P.C., Therapeutics for Circadian Rhythm Sleep Disorders <br> </a>
  <a href="https://www.nature.com/articles/nrc1072​" class="card-link">5. Fu L., Lee CC., The circadian clock: pacemaker and tumour suppressor <br> </a>
  <a href="https://www.ncbi.nlm.nih.gov/pubmed/28699174" class="card-link">6. Gu F. et al, Inherited variation in circadian rhythm genes and risks of prostate cancer and three other cancer sites in combined cancer consortia <br> </a>
  <a href="https://www.physiology.org/doi/pdf/10.1152/ajpendo.1991.260.5.E801" class="card-link">7. Sturis J. et al, Computer model for mechanisms underlying ultradian oscillations of insulin and glucose <br> </a>
  </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingSix">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
     <h5 class="card-title">Comparison of different oscillators - Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">15th November 2018</h6>
   </button>
 </div>
 <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Comparison of different oscillators/table.png"></p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingFive">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
     <h5 class="card-title">Parts selection - Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">17th November 2018</h6>
   </button>
 </div>
 <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Parts selection/parts.png"></p>
    </div>
  </div>
</div>
</div>
</div>
</div>


<% include partials/footer %>
