<% include partials/header %>

<center><h1>Notebook</h1></center>
<div class="container">
  <div class="row">
    <div class="col-9">
<div class="card text-center">
  <div class="card-header" id="headingOne">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
     <h5 class="card-title">Equations and explanations from 'Modeling synthetic gene oscillators'-Oscillator Team</h5>
     <h6 class="card-subtitle mb-2 text-muted">27th October 2018</h6>
   </button>
 </div>
 <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig1.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig2.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig3.png"> <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig4.png"> <br> Dual Feedback - probably too complicated/ineffective to bother with as it makes too many assumptions <br> <img src="notebookfiles/Equations and explanations from 'Modeling synthetic gene oscillators'/fig5.png"> </p>
       <a href="https://www.sciencedirect.com/science/article/abs/pii/S002555641200003X#f0030" class="card-link">Source: Modeling synthetic gene oscillators, O'Brien et al.</a>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingThree">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
     <h5 class="card-title">Research on parts (CIDAR cloning), model parameters and applications (Entrainment) -Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">1st November 2018</h6>
   </button>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
  <div class="card-body">
  <p class="card-text">
    Flowchart depicting CIDAR cloning process [1] <br>
    <img src="notebookfiles/Research on parts (CIDAR cloning), model parameters and applications (Entrainment)/CIDAR.png"> <br> Promoters/repressors are inserted into the green rectangles between the fusion sites (labelled in the image) and bonded together using ligase. This forms a complete circuit, which can be transcribed using a virus or PCR (?) to get copies of it. <br> Table with all the parameters in our ODEs and some proposed values (from iGEM 2017 group) <br> <img src="notebookfiles/Research on parts (CIDAR cloning), model parameters and applications (Entrainment)/Table.PNG"> <br> Examples of Biological Oscillators (for the wiki)

    Circadian clock: [3] <br>

    Embryonic oscillators: When cells are randomised in vitro, the patterns reemerge and the dynamics within each emergent pre-somitic mesoderm depends on the composition of the ensemble of coupled oscillators. [4]<br>

    Glycolytic oscillators: role of the cAMP signal transduction pathway in modulating glycolytic oscillations  [5]<br>

    Sleep and circadian rhythms<br>

    Paper by Strogatz on cave study: https://link.springer.com/content/pdf/10.1007%2FBF00276440.pdf<br>

    Strogatz paper on coupled oscillators and biological synchronisation http://www.uvm.edu/pdodds/files/papers/others/1993/strogatz1993a.pdf<br>

    Strogatz Modelling in Biology book: https://ebookcentral.proquest.com/lib/imperial/reader.action?docID=5326844&query=<br>

    Claude Bernard - homeostasis<br>

    Entrainment and Synchronisation<br>

    What is entrainment?<br>

    Entrainment occurs when rhythmic physiological or behavioural events match their period to that of an environmental oscillation. It is ultimately the interaction between circadian rhythms and the environment. An example is the entrainment of circadian rhythms to the daily light–dark cycle, which ultimately is determined by the Earth's rotation.<br>

    ‘Depending on its continually changing phase, an oscillator responds differently to an entraining stimulus At some phases, the oscillator is advanced and at others it is delayed or it may not respond at all. These response characteristics, which can be drawn as a phase response curve, are determined by a number of properties: (i) the period, (ii) strength, and (iii) duration of the entraining stimulus as well as the (iv) period and (v) inherent responsiveness of the oscillator to the entraining stimulus.’ [6] an example of entrainment:<br>

    https://books.google.co.uk/books?hl=en&lr=&id=CVfmBwAAQBAJ&oi=fnd&pg=PA1&dq=rutger+wever&ots=hXr2kgRF0o&sig=G5dxKlJgVreEFKYatyBGFmbYBw4#v=onepage&q&f=false<br>

    https://link.springer.com/content/pdf/10.1007%2FBF00279718.pdf<br>

    Peripheral Circadian Oscillators: https://pdfs.semanticscholar.org/ecab/9572f42107457bbae325dbf5395d41f9e404.pdf<br>

    Circadian Rhythms and Hormonal Homeostasis: Pathophysiological Implications:<br>

    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5372003/<br>



    SynBis, SynBio Hub, iGEM registry </p>
  <a href="http://cidarlab.org/hummingbird/" class="card-link">[1]</a>
  <a href="https://academic.oup.com/hmg/article/15/suppl_2/R271/624758" class="card-link">[3]</a>
  <a href="https://www.cell.com/cell/pdf/S0092-8674%2816%2930042-3.pdf?code=cell-site" class="card-link">[4]</a>
  <a href="https://bmcsystbiol.biomedcentral.com/articles/10.1186/1752-0509-6-108" class="card-link">[5]</a>
  <a href="http://www.pnas.org/content/102/21/7742" class="card-link">[6]</a>
  </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingFour">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
     <h5 class="card-title">Parameter Sensitivity - Shanila & Fionn</h5>
     <h6 class="card-subtitle mb-2 text-muted">14th November 2018</h6>
   </button>
 </div>
 <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Parameter sensitivity/parameters1.PNG"> <br> <img src="notebookfiles/Parameter sensitivity/parameters2.PNG"> <br> <img src="notebookfiles/Parameter sensitivity/parameters3.PNG"> <br> </p>
       <a href="https://sysmic.ac.uk/static/html_module1/1.9-the-repressilator.html" class="card-link">Source 1</a>
       <a href="https://www.nature.com/articles/35002125" class="card-link">Source 2</a>
    </div>
  </div>
</div>
<div class="card text-center">
    <div class="card-header" id="headingTwo">
     <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <h5 class="card-title">Types of biological oscillators and potential applications ​-Oscillator Team</h5>
       <h6 class="card-subtitle mb-2 text-muted">15th November 2018</h6>
     </button>
    </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
  <p class="card-text">
    <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide2.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide3.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide4.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide5.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide6.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide7.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide8.jpg"> <br> </p>
  <p class="card-text">
    <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide9.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide10.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide11.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide12.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide13.jpg"> <br> <img src="notebookfiles/Types of biological oscillators and potential applications​/Slide14.jpg"> <br> </p>
  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2988261/" class="card-link">1. Purcell O. et al, A comparative analysis of synthetic genetic oscillators <br> </a>
  <a href="https://academic.oup.com/hmg/article/15/suppl_2/R271/624758" class="card-link">2. Ko C.H., Takahashi J.S., Molecular components of the mammalian circadian clock <br> </a>
  <a href="https://pdfs.semanticscholar.org/ecab/9572f42107457bbae325dbf5395d41f9e404.pdf​" class="card-link">3. Cuninkova L., Brown S.A, Peripheral Circadian Oscillators: Interesting Mechanisms and Powerful Tools <br> </a>
  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3020104/​" class="card-link">4. Dodson E.R., Zee P.C., Therapeutics for Circadian Rhythm Sleep Disorders <br> </a>
  <a href="https://www.nature.com/articles/nrc1072​" class="card-link">5. Fu L., Lee CC., The circadian clock: pacemaker and tumour suppressor <br> </a>
  <a href="https://www.ncbi.nlm.nih.gov/pubmed/28699174" class="card-link">6. Gu F. et al, Inherited variation in circadian rhythm genes and risks of prostate cancer and three other cancer sites in combined cancer consortia <br> </a>
  <a href="https://www.physiology.org/doi/pdf/10.1152/ajpendo.1991.260.5.E801" class="card-link">7. Sturis J. et al, Computer model for mechanisms underlying ultradian oscillations of insulin and glucose <br> </a>
  </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingSix">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
     <h5 class="card-title">Comparison of different oscillators - Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">15th November 2018</h6>
   </button>
 </div>
 <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Comparison of different oscillators/table.png"></p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingFive">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
     <h5 class="card-title">Parts selection - Kavya</h5>
     <h6 class="card-subtitle mb-2 text-muted">17th November 2018</h6>
   </button>
 </div>
 <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Parts selection/parts.png"></p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingSeven">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
     <h5 class="card-title">What is a Toggle Switch?</h5>
     <h6 class="card-subtitle mb-2 text-muted">22nd November 2018</h6>
   </button>
 </div>
 <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/What is a toggle switch/general toggle switch circuit.PNG"> <br> <img src="notebookfiles/What is a toggle switch/Info1.PNG"</p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingEight">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
     <h5 class="card-title">Equations and Modelling for Toggle Switch - Mohamed and Adrian</h5>
     <h6 class="card-subtitle mb-2 text-muted">22nd November 2018</h6>
   </button>
 </div>
 <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Equations and Modelling for Toggle Switch/Equations.PNG"> <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/Explanation of parameters.PNG"> <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/Mod1.PNG">
     <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/Mod2.PNG"> <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/Mod3.PNG"> </p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingNine">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
     <h5 class="card-title">Possible Toggle Switch Applications - Jack</h5>
     <h6 class="card-subtitle mb-2 text-muted">22nd November 2018</h6>
   </button>
 </div>
 <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Examples of Biological Toggle Switch Applications/App1.PNG"> <br> <img src="notebookfiles/Examples of Biological Toggle Switch Applications/App2.PNG"> <br> <img src="notebookfiles/Examples of Biological Toggle Switch Applications/App3.PNG">
     <br> <img src="notebookfiles/Examples of Biological Toggle Switch Applications/App4.PNG"></p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingTen">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
     <h5 class="card-title">Our Toggle Switch Simulations - Mohamed and Adrian</h5>
     <h6 class="card-subtitle mb-2 text-muted">10th December</h6>
   </button>
 </div>
 <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <img src="notebookfiles/Equations and Modelling for Toggle Switch/ModellingWiki1.PNG"> <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/ModellingWiki2.PNG"> <br> <img src="notebookfiles/Equations and Modelling for Toggle Switch/ModellingWiki3.PNG"></p>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header" id="headingEleven">
   <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
     <h5 class="card-title">Wet Lab Log - Jack and Kwayne</h5>
     <h6 class="card-subtitle mb-2 text-muted">6th February</h6>
   </button>
 </div>
 <div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordion">
   <div class="card-body">
     <p class="card-text">
       <ul>
<p>31st Jan:
 <li>Purify DNA part samples for plasmid 1 and 2 and determine concentration for each part.</li>
 <li>Have to make our own b0032/33/34 RBS_EC and insulator_DE</li>
</p>

<p>4th Feb:
 <li>Made more DNA Part Samples with equimolar concentrations (50fmol/ul)</li>
 <li>Dilutions done as per excel sheet and formula to get equimolar solutions</li>
 <li>Speed Vac used to remove ethanol traces</li>
 <li>Made our own b0034/33/34 sequences and ordered them</li>
 <li>Decided to replace the insulator_DE with a B0040_DE spacer sequence we designed</li>
</p>

<p>6th Feb:
 <li>Prepared DNA Samples for electrophoresis</li>
 <li>Performed electrophoresis to visualise each individual plasmid part</li>
</p>
</ul>
</p>
    </div>
  </div>
</div>
</div>
<div class="col-3">


  <button class="btn btn-outline-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#exampleModalLong">Wet Lab Notebook <img src="/tube.png"> Oscillator Team</button>


  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Wet Lab Notebook – Oscillator Team</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <p>This lab book details the processes undertaken by the wet lab team to test the workings of modified repressilator.</p>
                <h4>06/02/19</h4>
                <p>Our bacteria containing the modified repressilator plasmids arrived today. We ordered 3 plasmids: the integrated repressilator (pLPT20), which has integrated reporters and degradation tags, the integrated repressilator with degradation tags removed (pLPT119), and the titration sponge (pLPT40). It should be noted that pLPT119 and pLPT20 are ampicillin resistant, whilst pLPT40 is kanamycin resistant.</p>
                <p>The plasmids were housed in DH5&alpha; E.coli in an agar stab. Our first task was to extract and grow out the bacteria. We did so by streaking the bacteria onto 3 separate Petri dishes and allowing them to grow at 37&deg;C for 24 hours.</p>
                <h4>07/02/19</h4>
                <p>Today we checked on the bacteria we had streaked yesterday. All 3 were ready for the next step, which is liquid culture. We picked 1 bacterial colony from each Petri dish to ensure that the liquid culture has a monoclonal cell population. The procedure was as follows:</p>
                <ul>
                <li>Make sure to work in the presence of a flame to create a sterile environment</li>
                <li>Add 5ml of Luria Broth (LB) to 3 culture tubes.</li>
                <li>Add 5&micro;l of 50mg/ml of ampicillin to two of the tubes and 5 &micro;l 35mg/ml of kanamycin to the last tube.</li>
                <li>Use a pipette tip to pick 1 colony of bacteria and drop it into the appropriate culture tube.</li>
                <li>Repeat for the other 2 bacteria.</li>
                <li>Close the culture tubes to 1 click. Make sure not to close fully, as the bacteria need air to grow.</li>
                <li>Place in a shaking 37&deg;C incubator for approximately 24 hours. The shaking is to aerate the culture.</li>
                </ul>
                <h4>08/02/19</h4>
                <p>The first task for today was to make up a glycerol stock using the liquid cultures, which is used to freeze the bacteria. Using glycerol reduces the chance of water crystals rupturing cell membranes during freezing. The process was as follows:</p>
                <ul>
                <li>Add 500&micro;l of glycerol to a centrifuge tube.</li>
                <li>Add 500&micro;l of the bacteria solution to the same tube.</li>
                <li>Centrifuge for 5 minutes at 6700rpm.</li>
                <li>ASK JACK FOR PROTOCOL</li>
                </ul>
                <p>The next stage of the process was transformation. This is needed as the plasmids need to be added to a wild type E. coli, so they had to be removed from DH5&alpha; and added to the MG1655 strain of E.coli. The original paper used the MC4100 strain, which we will also be testing if we are able to procure it. The process of transformation was as follows:</p>
                <ul>
                <li>Remove MG1655 from the -80&deg;C freezer and place in ice.</li>
                <li>Add 2&micro;l of each plasmid stock to separate micro-centrifuge tubes.</li>
                <li>Add 0.5&micro;l of a control plasmid (pUC19) into a fourth micro-centrifuge tube.</li>
                <li>Add 50&micro;l of MG1655 to each plasmid stock.</li>
                <li>Leave at 4&deg;C for 30 minutes.</li>
                <li>Heat shock for 1 minute at 42&deg;C.</li>
                <li>Add 50&micro;l of nutrient dense SOC media to each tube.</li>
                <li>Leave to incubate at 37&deg;C for 1 hour.</li>
                <li>Streak each plasmid solution onto 2 Petri dishes: 90% in one plate and 10% in the other.</li>
                <li>Leave to incubate at 37&deg;C for 24 hours.</li>
                </ul>
                <p>The MG1655, which was already in the lab, contains calcium chloride to help open pores in the bacteria. Paired with the heat shock, the bacterial pores should open enough to allow the plasmids enter. The addition of a nutrient dense medium after this ensures the bacteria are able to survive the temperature fluctuations we have put them through. The bacteria are then left for 1 hour to ensure that at least one full cell cycle has occurred. However, they must not be left for too long, as the selective pressure must be maintained. Without the selective pressure, the plasmids might be ejected from the cells, as the antibiotic resistance they confer is no longer of use to the bacteria.</p>
                <h4>09/02/19</h4>
                <p>The same process as detailed on 07/02/19 was repeated to transfer the colonies into liquid culture.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <nav class="col-sm-1" id="sidebar">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
    <li><a href="#headingOne">Section 1</a></li>
    <li><a href="#headingThree">Section 2</a></li>
    <li><a href="#headingFour">Section 3</a></li>
  </ul>
</nav> -->
</div>
</div>


<% include partials/footer %>
