<% include partials/header %>
<div class="container">
<h1 class="paddedtitle">References</h1>
<hr>
<p id="[1]">[1] D. E. Cameron, C. J. Bashor and J. J. Collins, A brief history of synthetic biology, 2014.</p>
<p id="[2]">[2] D. Del Vecchio, A. J. Dy and Y. Qian, Control theory meets synthetic biology, 2016.</p>
<p id="[3]">[3] R. Freemont and R. Kitney, Synthetic Biology: A Primer, Revised Edition ed., Imperial College Press, 2012.</p>
<p id="[4]">[4] C. Engler, R. Kandzia and S. Marillonnet, &ldquo;A one pot, one step, precision cloning method with high throughput capability,&rdquo; PLoS ONE, 2008.</p>
<p id="[5]">[5] S. V. Iverson, T. L. Haddock, J. Beal and D. M. Densmore, &ldquo;CIDAR MoClo: Improved MoClo Assembly Standard and New E. coli Part Library Enable Rapid Combinatorial Design for Synthetic and Traditional Biology,&rdquo; ACS Synthetic Biology, 2016.</p>
<p id="[6]">[6] E. R. Dodson and P. C. Zee, Therapeutics for circadian rhythm sleep disorders, 2010.</p>
<p id="[7]">[7] L. Fu and C. C. Lee, The circadian clock: Pacemaker and tumour suppressor, 2003.</p>
<p id="[8]">[8] F. Gu, H. Zhang, P. L. Hyland, S. Berndt, S. M. Gapstur, W. Wheeler, C. I. Amos, S. Bezieau, H. Bickeb&ouml;ller, H. Brenner, P. Brennan, J. Chang-Claude, D. V. Conti, J. A. Doherty, S. B. Gruber, T. A. Harrison, R. B. Hayes, M. Hoffmeister, R. S. Houlston, R. J. Hung, M. A. Jenkins, P. Kraft, K. Lawrenson, J. McKay, S. Markt, L. Mucci, C. M. Phelan, C. Qu, A. Risch, M. A. Rossing, H. E. Wichmann, J. Shi, E. Schernhammer, K. Yu, M. T. Landi and N. E. Caporaso, &ldquo;Inherited variation in circadian rhythm genes and risks of prostate cancer and three other cancer sites in combined cancer consortia,&rdquo; International Journal of Cancer, 2017.</p>
<p id="[9]">[9] B. Hellman, E. Gylfe, E. Grapengiesser, H. Dansk and A. Salehi, &ldquo;Insulinoscillationer -En kliniskt betydelsefull rytmik. Diabetesl&auml;kemedel b&ouml;r &ouml;ka den pulsatila komponenten av insulinfris&auml;ttningen,&rdquo; Lakartidningen, 2007.</p>
<p id="[10]">[10] L. Mejean, A. Bicakova-Rocher, M. Kolopp, C. Villaume, F. Levi, G. Debry, A. Reinberg and P. Drouin, &ldquo;Circadian and ultradian rhythms in blood glucose and plasma insulin of healthy adults,&rdquo; Chronobiology International, 1988.</p>
<p id="[11]">[11] J. Sturis, K. S. Polonsky, E. Mosekilde, E. V. Cauter and S. Polonsky, &ldquo;Computer model for mechanisms underlying ultradian oscillations of insulin and glucose,&rdquo; Am. J. Physiol. Endocrinol. Metab., 1991.</p>
<p id="[12]">[12] L. Potvin-Trottier, N. D. Lord, G. Vinnicombe and J. Paulsson, &ldquo;Synchronous long-term oscillations in a synthetic gene circuit,&rdquo; Nature, 2016.</p>
<p id="[13]">[13] M. B. Elowitz and S. Leibler, &ldquo;A synthetic oscillatory network of transcriptional regulators,&rdquo; Nature, 2000.</p>
<p id="[14]">[14] T. S. Gardner, C. R. Cantor and J. J. Collins, “Construction of a genetic toggle switch in Escherichia coli,” Nature, 2000.</p>
</div>
<% include partials/footer %>
