<% include partials/header %>

<div class ="container">
<h1><strong>Safety</strong></h1>
<br>
<p><strong>1. Would the materials used in your project and/or your final product pose:
<br><br>
a. Risks to the safety and health of team members or others in the lab?</strong>
<br>
No, we are not using any materials that pose risk to anyone’s safety or health. We are only working with level 1 safety organisms and are not working with any toxic or otherwise dangerous materials. The organisms we are working with are Escherichia coli (E. coli), strains DH5alpha and MG1655. The products that will be produced by our bacteria are also not dangerous to humans.
<br>
<strong>b. Risks to the safety and health of the general public if released by design or accident?</strong>
<br>
No, our final product is an engineered E. coli that expresses an oscillatory or switch-like behaviour pattern of GFP expression.
<br>
<strong>c. Risks to environmental quality if released by design or accident?</strong>
<br>
No, the release of GFP producing E. coli would not pose any large-scale threat to biodiversity, nor would it pose an environmental hazard.
<br>
<strong>d. Risks to security through malicious misuse by individuals, groups or states?</strong>
<br>
No. The parts we are engineering are not in themselves dangerous. However, it would be conceivable that, if combined with other parts and components, it would be possible to construct a dangerous organism. However, this can be said of most synthetic biology parts.
<br><br>
<strong>2. Specifically, are any parts or devices in your project associated with (or known to cause):</strong>
<br><br>
<strong>a. Pathogenicity, infectivity, or toxicity?</strong>
<br>
Yes. However, in isolation, none of the parts that we are using are dangerous. We will be using a benign strain of E. Coli, and repressors, promoters and reporters are not harmful in isolation.
<br>
<strong>b. Threats to environmental quality?</strong>
<br>
No.
<br>
<strong>c. Security concerns?</strong>
<br>
As previously stated, it is conceivable that the parts we are engineering could be used for malicious purposes.
<br><br>
<strong>3. Under what biosafety provisions will / do you operate?</strong>
<br><br>
<strong>a. Does your institution have its own biosafety rules and if so, what are they? Provide a link to them online if possible.</strong>
<br>
Imperial College has its own biosafety rules. These rules limit the use of infective and GM modified organisms to certified laboratories and state the requirement to get approval for work with them and the requirement to dispose of the organisms appropriately and report any accidental release and accidents to the Health and Safety department. The policy can be found here. Another, more comprehensive outline of how to deal with specific biological agents can be found here.
<br>
<strong>b. Does your institution have an Institutional Biosafety Committee or equivalent group? If yes, have you discussed your project with them? Describe any concerns or changes that were made based on this review.</strong>
<br>
Yes, there is a biosafety committee at our institution and we have discussed every aspect of our project with them. Following their advice, we have made modifications and changes required to minimise risk for the team and all other individuals working in the same facility.
<br>
<strong>c. Will / did you receive any biosafety and/or lab training before beginning your project? If so, describe this training.</strong>
<br>
Before we were allowed into the lab we received a lab induction. In this induction we were shown the proper methods of waste disposal and were also shown the precautions that should be followed when handling GMOs. We were told where the emergency exits are and the proper assembly point in case of a fire.
</p>




</div>


<% include partials/footer %>
