<% include partials/header %>
<div class="container">
<h1 class="paddedtitle">&rarr; The Team:</h1>
<br>
<center class="thinfonted">Supervised by:</center>
<div class="row">
<div class="col-sm">
  <h2 class="thinfonted"><center>Dr. Matthieu Bultelle</center>
</div>
<div class="col-sm">
  <h2 class="thinfonted"><center>Prof. Richard I. Kitney</center>
</div>
<div class="col-sm">
  <h2 class="thinfonted"><center>Dr. Kealan Exley</center>
</div>
</div>
<br>
<hr>
<br><br>
<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Shanila Fernandez Patel&nbsp;</h2>
  <p>Hi! I&rsquo;m Shanila and I am currently studying Biomedical Engineering at Imperial College London. As part of the oscillator dry lab team, my work for this project has mainly focused on the modelling and simulations of the repressilator. My hobbies include travelling and music. I am also part of ICSO, an orchestra at Imperial in which I play the viola.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125630(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125549(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kavya Ganabady&nbsp;</h2>
  <p>I&rsquo;m Kavya and I am a 3rd year studying Biomedical Engineering at Imperial College London. I am part of the oscillator wet lab team, so my work in this project has mainly focused on implementing the repressilator model <em>in vivo</em>. Outside of my studies, I enjoy rock climbing, yoga and travelling.&nbsp;</p></div>
</div>

<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Fionn Quilty&nbsp;</h2>
  <p>I am a medical student from Hull York Medical School and am undertaking this project as part of an intercalated year studying Biomedical Engineering at Imperial College London. On this project I will be working on the dry labs for the genetic oscillator.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125314(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125426(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kwayne Teo&nbsp;</h2>
  <p>I am Kwayne and I am a 3rd year student studying Biomedical Engineering at Imperial College London. I will be working on the wet labs for the toggle switch in this project which includes designing parts and combining them to make various plasmids for the switch.&nbsp;</p>
</div>
</div>
<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Amira El Fekih&nbsp;</h2>
  <p>Like most in this team, I am a Biomedical Engineering student in my 3rd year (in 2019) at Imperial. I like gymnastics and singing. In this project I was focused on the research and implementation of the oscillator as well as setting up this website. </p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125226(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125246(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Jack Mitchell&nbsp;</h2>
  <p>I’m a medical student from Imperial College and this project forms part of my intercalated BSc year studying Biomedical Engineering. My main focus will be similar to Kwayne, so will involve working in the lab on the toggle switch.</p>
</div>
</div>

<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Adrian Beersing Vasquez&nbsp;</h2>
  <p>I’m Adrian, a third year Biomedical Engineering undergraduate at Imperial College London. On this project I have been responsible for developing models describing the toggle switch system. Outside of my studies I enjoy long distance running and climbing.</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125354(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125451(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Mohamed Nasr&nbsp;</h2>
<p>I’m Mohamed and I am also a Biomedical Engineering student at Imperial College London. In this project, my job is to create models and simulations for the toggle switch team and help design this wiki.  </p>
</div>
</div>
</div>
<% include partials/footer %>
