<% include partials/header %>
<div class="container">
<h1 class="paddedtitle">&rarr; The Team:</h1>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Shanila Fernandez Patel&nbsp;</h2>
  <p>Hi! I&rsquo;m Shanila and I am currently studying Biomedical Engineering at Imperial College London. As part of the oscillator dry lab team, my work for this project has mainly focused on the modelling and simulations of the repressilator. My hobbies include travelling and music. I am also part of ICSO, an orchestra at Imperial in which I play the viola.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125630(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125549(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kavya Ganabady&nbsp;</h2>
  <p>I&rsquo;m Kavya and I am a 3rd year studying Biomedical Engineering at Imperial College London. I am part of the oscillator wet lab team, so my work in this project has mainly focused on implementing the repressilator model <em>in vivo</em>. Outside of my studies, I enjoy rock climbing, yoga and travelling.&nbsp;</p></div>
</div>

<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Fionn Quilty&nbsp;</h2>
  <p>I am a medical student from Hull York Medical School and am undertaking this project as part of an intercalated year studying Biomedical Engineering at Imperial College London. On this project I will be working on the dry labs for the genetic oscillator.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125314(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125426(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kwayne Teo&nbsp;</h2>
  <p>I am Kwayne and I am a 3rd year student studying Biomedical Engineering at Imperial College London. I will be working on the wet labs for the toggle switch in this project which includes designing parts and combining them to make various plasmids for the switch.&nbsp;</p>
</div>
</div>
<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Fionn Quilty&nbsp;</h2>
  <p>I am a medical student from Hull York Medical School and am undertaking this project as part of an intercalated year studying Biomedical Engineering at Imperial College London. On this project I will be working on the dry labs for the genetic oscillator.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125226(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125426(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kwayne Teo&nbsp;</h2>
  <p>I am Kwayne and I am a 3rd year student studying Biomedical Engineering at Imperial College London. I will be working on the wet labs for the toggle switch in this project which includes designing parts and combining them to make various plasmids for the switch.&nbsp;</p>
</div>
</div>

<br>
<br>

<div class="row">
<div class="col-sm">
  <h2 class="thinfonted">Fionn Quilty&nbsp;</h2>
  <p>I am a medical student from Hull York Medical School and am undertaking this project as part of an intercalated year studying Biomedical Engineering at Imperial College London. On this project I will be working on the dry labs for the genetic oscillator.&nbsp;</p>
</div>
<div class="col-sm">
  <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125314(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm">
    <br><center><img style="height: 100%; width:100%; margin-top:-8%;" src="/BioPics/20190220_125426(1).png"><!-- Candidomolino [<a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Repressilator.gif">via Wikimedia Commons</a> -->
  </div>
<div class="col-sm">
  <h2 class="thinfonted">Kwayne Teo&nbsp;</h2>
  <p>I am Kwayne and I am a 3rd year student studying Biomedical Engineering at Imperial College London. I will be working on the wet labs for the toggle switch in this project which includes designing parts and combining them to make various plasmids for the switch.&nbsp;</p>
</div>
</div>
</div>
<% include partials/footer %>
