body{

position: relative;
padding-bottom: 50px;

}

.thinfonted {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.lightfonted {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.paddedtitle {
  padding-top:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.subtitleb {
  padding-top:30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

sub:target {
   -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
   animation: mymove 1s;
}

@-webkit-keyframes mymove {
  from {background-color: #ffa;}
  to {background-color: transparent;}
}


@keyframes mymove {
  from {background-color: #ffa;}
  to {background-color: transparent;}
}

.affix-top {
  position: relative;
}

.affix {
  top: 20px;
}

.affix,
.affix-bottom {
    width: 213px;
}

#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

#myBtn {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #A2D9CE; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


#TeamBtn {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

#TeamBtn:hover {
  transform: scale(1.2);
}

.btn {
    white-space: normal;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
  max-width: 100%;
  height: auto;
}


.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.not-focusable:focus {
    outline: none;
    box-shadow: none;
}
